.cards{
      display: flex;
      flex-direction: column;      
      align-items: center;
     
}

.card{
      border: 1px solid black;
      margin-top: 10px;
      width: 90%;
      .dayTitle{
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
      }
}